{% extends "blog/base.html" %}
{% block title %}Авторзция{% endblock %}
{% block content %}
        <h1 class="page-title">Блог</h1>
        <section class="section-wrapper">
            <h2 class="section-title">Авторизация</h2>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Войти</button>
            </form>
        </section>
        <a class="add_post" href="{% url 'blog:add_post' %}">добавить запись</a>
{% endblock %}